$white: #ffffff;
$black: #000000;
$gray: #666666;
$dull-gray: #b3b3b3;
$blue: #1698d9;
$pink: #d91667;
$dull-pink: #e52e7a;
$yellow: #ffff66;

$font-family: "Trebuchet MS", "Arial", sans-serif;

$tablet: 960px;
$mobile: 500px;
