@import "../../../styles/variables.scss";

.container {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: $white;

  &Disabled {
    color: $yellow;
  }
}

.link {
  font-weight: 700;
  color: #22a7e9;
  cursor: pointer;
  border-bottom: 1px dashed #22a7e9;
}
